<div class="col-md-12 column">
<form role="form" method="post" id="bonding" action="saveChart">
    <input type="hidden" name="chartName" value="{{ new_table.name }}">
    <table class="table table-bordered">
        <thead>
            <tr>
                {% for col in desc %}
                <th>
                    {{ col }}
                </th>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
            <tr class="success">
                {% for col in desc %}
                <td>
                    <label for="s{{ col }}" class="control-label">绑定类型:</label>
                    <select   id="s{{ col }}" name="{{ col }}_type" >
                        {% for option in xyaxis %}
                            <option value="{{ option.0 }}" >{{ option.1 }}</option>
                        {% endfor %}
                    </select>
                </td>
                {% endfor %}

            </tr>
            <tr class="war">
                {% for col in desc %}
                <td>
                    <label for="{{ col }}" class="control-label">显示名称:</label>
                    <input type="text" class="form-control" id="{{ col }}" name="{{ col }}_display"/>
                </td>
                {% endfor %}

            </tr>
        </tbody>
    </table>
<button type="button" class="btn btn-sm btn-primary" onclick="saveChart()" >保存结果</button>
</form>
</div>
