{% extends 'base_temp.html' %}
{% block chart_models_head %}
    <script src="/static/js/jsoneditor.min.js"></script>
    <link href="/static/css/jsoneditor.min.css" rel="stylesheet" type="text/css">


{% endblock chart_models_head %}


{% block chart_models_content %}
<div id="jsoneditor" style="width: 800px; height: 800px;"></div>


<script type="text/javascript">



        var container = document.getElementById("jsoneditor");
        var options = {};
        var editor = new JSONEditor(container, options);

        // set json
    {% autoescape off %}
        var json = {{ chart_pre }};
    {% endautoescape %}
        editor.set(json);

        // get json
        var json = editor.get();


</script>






{% endblock chart_models_content %}