{% extends 'base_temp.html' %}

{% block chart_models_content %}

<div class="container" >
	<div class="row clearfix">
		<div class="col-md-6 column">
			 <span class="label label-default">图表管理</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary" href="#modal-new-table" data-toggle="modal" onclick="getOptions()" >新建图表</button>

        </div>

		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary" href="#modal-edit-table" data-toggle="modal">编辑图表</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">删除图表</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
		</div>
	</div>
    <div class="row clearfix">
		<div class="col-md-6 column">
			 <span class="label label-default">分组管理</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 col-sm-6 column">
			 <button type="button" class="btn btn-sm btn-block btn-primary">新建分组</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">编辑分组</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">删除分组</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
            <span class="label label-default">图表展示管理</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 col-sm-6 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">设置组图</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">设置单表</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
		</div>
		<div class="col-md-3 col-sm-6 column">
		</div>
	</div>
</div>




{# 新增表单弹窗#}
<div class="modal fade" id="modal-new-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    新增配置
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" id="newTable">
                    <div class="form-group">
                        <label for="input-new-table-name">新表格名称</label>
                        <input type="text" class="form-control" name="newTableName" id="input-new-table-name" maxlength="40" />
                    </div>

                    <div class="form-group">
                        <label for="input-new-table-type">选择图表类型</label>
                        <select  id="input-new-table-type" name="newTableType"  >
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="input-new-table-theme">选择图表主题风格</label>
                        <select  id="input-new-table-theme" name="newTableTheme" >
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="input-new-table-group">选择加入的分组</label>
                        <select  id="input-new-table-group" name="newTableGroup">
                        </select>
                    </div>

                    <div class="checkbox">
                         <label><input type="checkbox" />Check me out</label>
                    </div> <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="postForm('addNewChart', 'newTable')">保存</button>
            </div>
        </div>
    </div>
</div>




 {# 编辑表单弹窗#}
<div class="modal fade" id="modal-edit-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    编辑表单
                </h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                         <label for="exampleInputEmail1">Email address</label><input type="email" class="form-control" id="exampleInputEmail1" />
                    </div>
                    <div class="form-group">
                         <label for="exampleInputPassword1">Password</label><input type="password" class="form-control" id="exampleInputPassword1" />
                    </div>
                    <div class="form-group">
                         <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile" />
                        <p class="help-block">
                            Example block-level help text here.
                        </p>
                    </div>
                    <div class="checkbox">
                         <label><input type="checkbox" />Check me out</label>
                    </div> <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" >保存</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
//获取新增图表界面下拉框选项
        function getOptions() {
            $.ajax({
                url: "getNewChartOption",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                traditional: true,
                success: function (data) {

                        var optionstring = "";
                        for (var j = 0; j < data.chart_type.length; j++) {
                            optionstring += "<option value=\"" + data["chart_type"][j] + "\" >" + data["chart_type"][j] + "</option>";
                        }
                        $("#input-new-table-type").html(optionstring);
                        optionstring = "";
                        for (var j = 0; j < data.chart_group.length; j++) {
                            optionstring += "<option value=\"" + data["chart_group"][j] + "\" >" + data["chart_group"][j] + "</option>";
                        }
                        $("#input-new-table-group").html(optionstring);
                        optionstring = "";
                        for (var j = 0; j < data.chart_theme.length; j++) {
                            optionstring += "<option value=\"" + data["chart_theme"][j] + "\" >" + data["chart_theme"][j] + "</option>";
                        }
                        $("#input-new-table-theme").html(optionstring);

                },
                error: function (msg) {
                    alert("出错了！");
                }
            });
        };

</script>


<script type="text/javascript">
//提交表单
        function postForm(url,uuid) {

            obj = "#"+uuid;
            $.ajax({
                url: url,
                type: "post",
                dataType: "json",
                contentType: "application/json",
                data: $(obj).serialize(),
                success: function (data) {
                    alert(data[0] + "提交成功！")

                },
                error: function (data) {
                    alert(data[0] +"提交出错！");
                }
            });
        };

</script>

{% endblock chart_models_content %}