{% extends 'base_temp.html' %}

{% block chart_models_content %}

<div class="container-fluid" >
	<div class="row clearfix">
		<div class="col-md-6 column">

			 <span class="label label-default">分组显示</span>
            </div>

		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
        {% for group in groups %}
		<div class="col-md-3 col-sm-6 column">
            <div class="well well-sm">
                <a class="btn btn-sm btn-block btn-primary " role="button" href="chartShow?group={{ group.id }}" >{{ group.group_name }}</a>
            </div>
        </div>
        {% endfor %}

	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
			 <span class="label label-default">单表展示</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
        {% for chart in charts %}
<div class="col-md-3 col-sm-6 column">
        <div class="well well-sm">

            <a class="btn btn-sm btn-default disabled" role="button"  ><code>{{ chart.name }}</code></a>
            <a class="btn btn-sm btn-primary pull-right" role="button" href="chartShow?chart={{ chart.id }}&type=chart" >图表</a>
            <a class="btn btn-sm btn-info pull-right" role="button" href="chartShow?chart={{ chart.id }}&type=table" >数据</a>
        </div>
        </div>
        {% endfor %}

	</div>
</div>







{% endblock chart_models_content %}