{% extends 'base_temp.html' %}

{% block chart_models_content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
			 <span class="label label-default">编辑图表属性</span>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						图表名称：
					</h3>
				</div>
				<div class="panel-body">
					{{ chart_name }}
				</div>

			</div>
		</div>
		<div class="col-md-8 column">
		</div>
	</div>
	<div class="row clearfix">
        <div class="col-sm-2 column ">
            <span class="label label-warning">数据源设置</span>
        </div>
    </div>
    <div class="row clearfix">
		<div class="col-md-12 column">
			<form class="form-horizontal" role="form" id="dataSource" action="runSql" method="post">

				<div class="form-group">
					 <label for="inputHost" class="col-sm-2 control-label">源地址:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputHost" name="host"/>
					</div>

					 <label for="inputPort" class="col-sm-2 control-label">端口号:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputPort" name="port" />
					</div>
				</div>
				<div class="form-group">
                    <label for="inputDBName" class="col-sm-2 control-label">数据库名:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputDBName" name="dbName" />
					</div>

				</div>
                <div class="form-group">
					 <label for="inputUser" class="col-sm-2 control-label">用户名:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputUser" name="user"/>
					</div>

					 <label for="inputPass" class="col-sm-2 control-label">密码:</label>
					<div class="col-sm-2">
						<input type="password" class="form-control" id="inputPass" name="password" />
					</div>
				</div>
				<div class="form-group">

                    <label for="inputSql" class="col-sm-2 control-label">SQL语句:</label>
                <div class="col-sm-8">
                    <textarea id="inputSql" class="form-control" name="dbSql"></textarea>
				</div>
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="button" class="btn btn-sm btn-primary" onclick="runSql()" >执行测试</button>
                </div>
				</div>
			</form>
		</div>
	</div>
</div>



<script type="text/javascript">
//执行数据源配置
function runSql(){
    $.ajax({
        url: "runSql",
        type: "post",
{#        dataType: "json",#}
{#        contentType: "application/json",#}
{#        traditional: true,#}
        data: JSON.stringify($("#dataSource").serializeArray()),
        success: function (data) {

            alert(JSON.stringify($("#dataSource").serializeArray()) + "成功！")

        },
        error: function (msg) {
            alert(JSON.stringify($("#dataSource").serializeArray()) + "出错！");
        }
    });
};
</script>
{% endblock chart_models_content %}