{% extends 'base_temp.html' %}

{% block chart_models_content %}

<div class="container" >
	<div class="row clearfix">
		<div class="col-md-6 column">
			 <span class="label label-default">图表管理</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary" href="#modal-new-table" data-toggle="modal" onclick="getOptions()" >新建图表</button>

        </div>

		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary" href="#modal-edit-table" data-toggle="modal" onclick="getEditOptions()">编辑图表</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">删除图表</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
		</div>
	</div>
    <div class="row clearfix">
		<div class="col-md-6 column">
			 <span class="label label-default">分组管理</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 col-sm-6 column">
			 <button type="button" class="btn btn-sm btn-block btn-primary">新建分组</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">编辑分组</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">删除分组</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-6 column">
            <span class="label label-default">图表展示管理</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 col-sm-6 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">设置组图</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <button type="button" class="btn btn-sm btn-block btn-primary">设置单表</button>
		</div>
		<div class="col-md-3 col-sm-6 column">
		</div>
		<div class="col-md-3 col-sm-6 column">
		</div>
	</div>
</div>




{# 新增表单弹窗#}
<div class="modal fade" id="modal-new-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >
                    新增配置
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" method="get" id="newTable" href="/addNewChart">
                    {% csrf_token %}
                    <div class="form-group">
                        <div>
                            <label for="input-new-table-name" class="control-label">新表格名:</label>
                        </div>
                        <div>
                            <input type="text"  name="newTableName" id="input-new-table-name"  maxlength="40" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div >
                            <label for="input-new-table-type">图表类型:</label>
                        </div>
                        <div >
                            <select  id="input-new-table-type" name="newTableType" class="form-control" >
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div >
                            <label for="input-new-table-theme">主题风格:</label>
                        </div>
                        <div >
                            <select  id="input-new-table-theme" name="newTableTheme" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div >
                            <label for="input-new-table-group">选择加入的分组:</label>
                        </div>
                        <div >
                            <select  id="input-new-table-group" name="newTableGroup" class="form-control">
                            </select>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="postForm('addNewChart', 'newTable')">保存</button>
            </div>
        </div>
    </div>
</div>




 {# 编辑表单弹窗#}
<div class="modal fade" id="modal-edit-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    编辑表单
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="editTable" action="EditChart">
                    <div class="form-group">
                        <div>
                            <label for="edit-table-name" class="control-label">选择需要操作的表单:</label>
                        </div>
                        <div>
                            <select  class="form-control" id="edit-table-name" name="TableName"  >
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label for="input-legend-num">设定图列数量:</label>
                        </div>
                        <div>
                            <input type="text" class="form-control" name="legend-num" id="input-legend-num"  value='1' />
                        </div>
                    </div>

                    <div class="form-group">
                        <div>
                            <label for="input-data-source">选择数据来源:</label>
                        </div>
                        <div>
                            <select  class="form-control" id="input-data-source" name="DataSource" >
                                <option value="mysql" >mysql</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="download-temp">模版下载</label>

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="FSubmit('#editTable')">保存</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
//获取新增图表界面下拉框选项
function getOptions() {
    $.ajax({
        url: "getNewChartOption",
        type: "post",
        dataType: "json",
        contentType: "application/json",
        traditional: true,
        success: function (data) {

                var optionstring = "";
                for (var j = 0; j < data.chart_type.length; j++) {
                    optionstring += "<option value=\"" + data["chart_type"][j] + "\" >" + data["chart_type"][j] + "</option>";
                }
                $("#input-new-table-type").html(optionstring);
                optionstring = "";
                for (var j = 0; j < data.chart_group.length; j++) {
                    optionstring += "<option value=\"" + data["chart_group"][j] + "\" >" + data["chart_group"][j] + "</option>";
                }
                $("#input-new-table-group").html(optionstring);
                optionstring = "";
                for (var j = 0; j < data.chart_theme.length; j++) {
                    optionstring += "<option value=\"" + data["chart_theme"][j] + "\" >" + data["chart_theme"][j] + "</option>";
                }
                $("#input-new-table-theme").html(optionstring);

        },
        error: function (msg) {
            alert("出错了！");
        }
    });
};


//ajax提交表单
function postForm(url,uuid) {
    obj = "#"+ uuid;
    $.ajax({
        url: url,
        type: "get",
{#                dataType: "json",#}
{#                contentType: "application/json",#}
{#                traditional: true,#}
        data: $(obj).serialize(),
        success: function (data) {
            alert(data + "成功！")

        },
        error: function (msg) {
            alert("出错！");
        }
    });
};

//普通提交表单
function FSubmit(obj) {

    $(obj).submit();
};

//获取编辑图表下拉选项
function getEditOptions() {
    $.ajax({
        url: "getEditOption",
        type: "post",
        dataType: "json",
        contentType: "application/json",
        traditional: true,
        success: function (data) {

                var optionstring = "";
                for (var j = 0; j < data.chart_name.length; j++) {
                    optionstring += "<option value=\"" + data["chart_name"][j] + "\" >" + data["chart_name"][j] + "</option>";
                }
                $("#edit-table-name").html(optionstring);




        },
        error: function (msg) {
            alert("出错了！");
        }
    });
};

</script>


{% endblock chart_models_content %}