{% extends 'base_temp.html' %}

{% block chart_models_head %}
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/china.js"></script>
    <script src="/static/js/theme/{{ theme }}.js"></script>
{% endblock chart_models_head %}


{% block chart_models_content %}

{#<div id="main" style="width: 1200px;height:500px;"></div>#}
<div id="main" class="col-sm-12 col-md-12" style="height:500px;"></div>

<script type="text/javascript">
    var myChart = echarts.init(document.getElementById('main'), '{{ theme }}');
    {% autoescape off %}
        option = {{ chart_json }}
    {% endautoescape %}
    myChart.setOption(option);

</script>


{% endblock chart_models_content %}