{% extends 'base_temp.html' %}

{% block chart_models_content %}

<div class="container">
	<div class="row clearfix">
		<div class="col-md-4 column">
			 <span class="label label-default">编辑图表属性</span>
            </div>
        	</div>

<div class="row clearfix">
    <div class="col-sm-1 column ">
        </div>
				<div class="col-sm-2 column ">
					<label for="displayName" class="control-label">图表名称：</label>

				</div>
				<div class="col-sm-2" id="displayName">
					<code>{{ chart_name }}</code>
				</div>
                <div class="col-sm-2 column ">
					<label for="displayName" class="control-label">数据源选择（可选）：</label>

				</div>
                <div class="col-sm-2 column control-label">
                    <select onchange="Change()" id="sel">
                        <option></option>
                        {% for sourcename in data_source_name %}
                        <option>{{ sourcename }}</option>
                        {% endfor %}

                    </select>
                </div>


	</div>
	<div class="row clearfix">
        <div class="col-sm-2 column ">
            <span class="label label-warning">数据源设置</span>
        </div>
    </div>
    <div class="row clearfix">
		<div class="col-md-12 column">
			<form class="form-horizontal" role="form" id="dataSource" action="runSql" method="post">

				<div class="form-group">
					 <label for="inputHost" class="col-sm-2 control-label">源地址:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputHost" name="host"/>
                        <input type="hidden" name="chartName" value="{{ chart_name }}">
					</div>

					 <label for="inputPort" class="col-sm-2 control-label">端口号:</label>
					<div class="col-sm-2">
						<input type="text" class="form-control" id="inputPort" name="port" />
					</div>
				</div>
				<div class="form-group">
                    <label for="inputDBName" class="col-sm-2 control-label">数据库名:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputDBName" name="dbName" />
					</div>

				</div>
                <div class="form-group">
					 <label for="inputUser" class="col-sm-2 control-label">用户名:</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" id="inputUser" name="user" />
					</div>

					 <label for="inputPass" class="col-sm-2 control-label">密码:</label>
					<div class="col-sm-2">
						<input type="password" class="form-control" id="inputPass" name="password" />
					</div>
				</div>
				<div class="form-group">

                    <label for="inputSql" class="col-sm-2 control-label">SQL语句:</label>
                <div class="col-sm-8">
                    <textarea id="inputSql" class="form-control" name="dbSql"></textarea>
				</div>
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="button" class="btn btn-sm btn-primary" onclick="runSql()" >执行测试</button>
                </div>
				</div>
			</form>
		</div>
	</div>
</div>
<div id="bondingTable">

</div>



<script type="text/javascript">
//获取数据源配置
function Change(){
    var source_name = $("#sel").val();
    $.ajax({
        url: "getsource",
        type: "post",
        dataType: "json",
        contentType: "application/json",
        data: source_name,
        success: function (data) {
            $("#inputHost").val(data["host"]);
            $("#inputPort").val(data["port"]);
            $("#inputDBName").val(data["db_name"]);
            $("#inputUser").val(data["user"]);
            $("#inputPass").val(data["passwd"]);

        },
        error: function (msg) {
            alert(msg);
        }
    });
};




//执行数据源配置
function runSql(){
    $.ajax({
        url: "runSql",
        type: "post",
{#        dataType: "json",#}
{#        contentType: "application/json",#}
{#        traditional: true,#}
        data: JSON.stringify($("#dataSource").serializeArray()),
        success: function (data) {
            $("#bondingTable").html(data);
            alert(data + "成功！");

        },
        error: function (msg) {
            alert(JSON.stringify($("#dataSource").serializeArray()) + "出错！");
        }
    });
};

//保存配置
function saveChart(){
    $.ajax({
        url: "saveChart",
        type: "post",
        data: JSON.stringify($("#bonding").serializeArray()),
        success: function (data) {
            alert(JSON.stringify(data) + "成功！");
        },
        error: function (msg) {
            alert(JSON.stringify($("#bonding").serializeArray()) + "出错！");
        }
    });
};
</script>
{% endblock chart_models_content %}