{% extends 'base_temp.html' %}
{% block chart_models_head %}
    <script src="/static/js/jsoneditor.min.js"></script>
    <link href="/static/css/jsoneditor.min.css" rel="stylesheet" type="text/css">


{% endblock chart_models_head %}


{% block chart_models_content %}

<div class="container">
<p>
    <button onclick="setJSON();">Set JSON</button>
    <button onclick="getJSON();">Get JSON</button>
</p>
    <div class="col-sm-4 column label label-warning">
					<label for="jsoneditor" class="control-label">高级属性修改：</label>

				</div>
    <div id="jsoneditor" style="width: 800px; height: 800px;"></div>
    <div id="dd"><code id="ddd">fewsfsx</code></div>
</div>


<script type="text/javascript">



        var container = document.getElementById("jsoneditor");
        var options = {};
        var editor = new JSONEditor(container, options);

        // set json
    {% autoescape off %}
        var chart_json = {{ chart_pre }};
    {% endautoescape %}
        editor.set(chart_json);

        // get json
        var editor_json = editor.get();
        $("#ddd").text(JSON.stringify(editor_json));


</script>






{% endblock chart_models_content %}