{% extends 'base_temp.html' %}

{% block chart_models_content %}

<div class="container" >
	<div class="row clearfix">
		<div class="col-md-6 column">
			 <span class="label label-default">图表管理</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">


		<div class="col-md-3 col-sm-6 column">
            <div class="well well-sm">
            <button type="button" class="btn btn-sm btn-block btn-primary" href="#modal-new-table" data-toggle="modal" onclick="getOptions()" ><span class="glyphicon glyphicon-plus "></span>  新建图表</button>
            </div>
        </div>

		<div class="col-md-3 col-sm-6 column">
            <div class="well well-sm">
            <button type="button" class="btn btn-sm btn-block btn-primary" href="#modal-edit-table" data-toggle="modal" onclick="getEditOptions()"><span class="glyphicon glyphicon-pencil"></span>  编辑图表</button>
		    </div>
        </div>
		<div class="col-md-3 col-sm-6 column">
            <div class="well well-sm">
            <button type="button" class="btn btn-sm btn-block btn-primary" href="#modal-del-table" data-toggle="modal" onclick="getDelOptions()"><span class="glyphicon glyphicon-remove"></span>  删除图表</button>
		    </div>
        </div>
		<div class="col-md-3 col-sm-6 column">
            <div class="well well-sm">

                <button type="button" class="btn btn-sm btn-block btn-primary" href="#modal-ext-table" data-toggle="modal" onclick="getExtOptions()"><span class="glyphicon glyphicon-wrench"></span>  高级配置</button>
		    </div>
        </div>


	</div>
    <div class="row clearfix">
		<div class="col-md-6 column">
			 <span class="label label-default">分组管理</span>
		</div>
		<div class="col-md-6 column">
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-3 col-sm-6 column">
            <div class="well well-sm">
			 <button type="button" class="btn btn-sm btn-block btn-primary"><span class="glyphicon glyphicon-plus "></span>  新建分组</button>
            </div>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <div class="well well-sm">
            <button type="button" class="btn btn-sm btn-block btn-primary"><span class="glyphicon glyphicon-pencil"></span>  编辑分组</button>
            </div>
		</div>
		<div class="col-md-3 col-sm-6 column">
            <div class="well well-sm">
            <button type="button" class="btn btn-sm btn-block btn-primary"><span class="glyphicon glyphicon-remove"></span>  删除分组</button>
            </div>
		</div>
		<div class="col-md-3 col-sm-6 column">

		</div>
	</div>
{#	<div class="row clearfix">#}
{#		<div class="col-md-6 column">#}
{#            <span class="label label-default">图表展示管理</span>#}
{#		</div>#}
{#		<div class="col-md-6 column">#}
{#		</div>#}
{#	</div>#}
{#	<div class="row clearfix">#}
{#		<div class="col-md-3 col-sm-6 col-sm-6 column">#}
{#            <button type="button" class="btn btn-sm btn-block btn-primary">设置组图</button>#}
{#		</div>#}
{#		<div class="col-md-3 col-sm-6 column">#}
{#            <button type="button" class="btn btn-sm btn-block btn-primary">设置单表</button>#}
{#		</div>#}
{#		<div class="col-md-3 col-sm-6 column">#}
{#		</div>#}
{#		<div class="col-md-3 col-sm-6 column">#}
{#		</div>#}
{#	</div>#}
</div>
<div id="alert">
{#    <div class="alert alert-dismissable alert-success navbar-fixed-bottom">#}
{#        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>#}
{#            <h4>注意!</h4>#}
{#            <strong>Warning!</strong> Best check yo self, you're not looking too good. <a href="#" class="alert-link">alert link</a>#}
{#    </div>#}
</div>

{# 新增表单弹窗#}
<div class="modal fade" id="modal-new-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >
                    新增配置
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" method="get" id="newTable" href="/addNewChart">
                    <div class="form-group">
                        <div>
                            <label for="input-new-table-name" class="control-label">新表格名:</label>
                        </div>
                        <div>
                            <input type="text"  name="newTableName" id="input-new-table-name"  maxlength="40" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div >
                            <label for="input-new-table-type">图表类型:</label>
                        </div>
                        <div >
                            <select  id="input-new-table-type" name="newTableType" class="form-control" >
                            </select>
                        </div>
                    </div>


                    <div class="form-group">
                        <div >
                            <label for="input-new-table-theme">主题风格:</label>
                        </div>
                        <div >
                            <select  id="input-new-table-theme" name="newTableTheme" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <label for="input-zoom-num">默认显示数据笔数:</label>
                        </div>
                        <div>
                            <input type="text" class="form-control" name="zoomNum" id="input-zoom-num"  />
                        </div>
                    </div>
                    <div class="form-group">
                        <div >
                            <label for="input-new-table-group">选择加入的分组:</label>
                        </div>
                        <div >
                            <select  id="input-new-table-group" name="newTableGroup" class="form-control">
                            </select>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="postForm('addNewChart', 'newTable')">确认</button>
            </div>
        </div>
    </div>
</div>




 {# 编辑表单弹窗#}
<div class="modal fade" id="modal-edit-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">
                    编辑表单
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="editTable" action="EditChart">
                    <div class="form-group">
                        <div>
                            <label for="edit-table-name" class="control-label">选择需要操作的表单:</label>
                        </div>
                        <div>
                            <select  class="form-control" id="edit-table-name" name="TableName"  >
                            </select>
                        </div>
                    </div>



                    <div class="form-group">
                        <div>
                            <label for="input-data-source">选择数据来源:</label>
                        </div>
                        <div>
                            <select  class="form-control" id="input-data-source" name="DataSource" >
                                <option value="mysql" >mysql</option>
                                <option value="oracle" >oracle</option>
                                <option value="csv" >csv导入</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="download-temp">模版下载</label>

                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="FSubmit('#editTable')">确认</button>
            </div>
        </div>
    </div>
</div>



{# 删除表单弹窗#}
<div class="modal fade" id="modal-del-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >
                    表单删除
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" method="get" id="delTable" href="/delChart">
                    <div class="form-group">
                        <div>
                            <label for="input-del-table-name" class="control-label">选择表格:</label>
                        </div>
                        <div>
                            <select  id="input-del-table-name" name="delTableName" class="form-control" >
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div >
                            <label for="input-del-table-confirm">确认要删除的图表:</label>
                        </div>
                        <div >
                            <input type="text"  name="confirmTableName" id="input-confirm-table-name"  maxlength="40" class="form-control" placeholder="请输入要删除的表名来确认删除！" />
                        </div>
                    </div>




                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="postJsonForm('delChart', 'delTable')">确认</button>
            </div>
        </div>
    </div>
</div>

{# 高级配置表单弹窗#}
<div class="modal fade" id="modal-ext-table" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >
                    高级配置
                </h4>
            </div>
            <div class="modal-body">
                <form role="form" method="post" id="extTable" action="extEditChart">
                    <div class="form-group">
                        <div>
                            <label for="ext-table-name" class="control-label">选择表格:</label>
                        </div>
                        <div>
                            <select  id="ext-table-name" name="extTableName" class="form-control" >
                            </select>
                        </div>
                    </div>






                </form>
            </div>
            <div class="modal-footer">
                 <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button> <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="FSubmit('#extTable')">确认</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//获取新增图表界面下拉框选项
function getOptions() {
    $.ajax({
        url: "getNewChartOption",
        type: "post",
        dataType: "json",
        contentType: "application/json",
        traditional: true,
        success: function (data) {

                var optionstring = "";
                for (var j = 0; j < data.chart_type.length; j++) {
                    optionstring += "<option value=\"" + data["chart_type"][j] + "\" >" + data["chart_type"][j] + "</option>";
                }
                $("#input-new-table-type").html(optionstring);
                optionstring = "";
                for (var j = 0; j < data.chart_group.length; j++) {
                    optionstring += "<option value=\"" + data["chart_group"][j] + "\" >" + data["chart_group"][j] + "</option>";
                }
                $("#input-new-table-group").html(optionstring);
                optionstring = "";
                for (var j = 0; j < data.chart_theme.length; j++) {
                    optionstring += "<option value=\"" + data["chart_theme"][j] + "\" >" + data["chart_theme"][j] + "</option>";
                }
                $("#input-new-table-theme").html(optionstring);

        },
        error: function (msg) {
            optionstring = '<div class="alert alert-dismissable alert-success navbar-fixed-bottom"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>失败!</h4><strong>获取数据出错!</strong></div>';

            $("#alert").html(optionstring);

        }
    });
};


//ajax提交表单
function postForm(url,uuid) {
    obj = "#"+ uuid;
    $.ajax({
        url: url,
        type: "get",
{#                dataType: "json",#}
{#                contentType: "application/json",#}
{#                traditional: true,#}
        data: $(obj).serialize(),
        success: function (data) {
            optionstring = '<div class="alert alert-dismissable alert-success navbar-fixed-bottom"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>成功!</h4><a>成功创建</a><strong>' + data + '</strong></div>';

            $("#alert").html(optionstring);

        },
        error: function (msg) {
            optionstring = '<div class="alert alert-dismissable alert-warning navbar-fixed-bottom"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>失败!</h4><strong>获取数据出错!</strong></div>';

            $("#alert").html(optionstring);
        }
    });
};

//ajax提交表单json
function postJsonForm(url,uuid) {
    obj = "#"+ uuid;
    $.ajax({
        url: url,
        type: "post",
{#                dataType: "json",#}
{#                contentType: "application/json",#}
{#                traditional: true,#}
        data: JSON.stringify($(obj).serializeArray()),
        success: function (data) {
            optionstring = '<div class="alert alert-dismissable alert-success navbar-fixed-bottom"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><strong>' + data + '</strong></div>';

            $("#alert").html(optionstring);

        },
        error: function (msg) {
            optionstring = '<div class="alert alert-dismissable alert-warning navbar-fixed-bottom"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>失败!</h4><strong>获取数据出错!</strong></div>';

            $("#alert").html(optionstring);
        }
    });
};

//普通提交表单
function FSubmit(obj) {

    $(obj).submit();
};

//获取编辑图表下拉选项
function getEditOptions() {
    $.ajax({
        url: "getEditOption",
        type: "post",
        dataType: "json",
        contentType: "application/json",
        traditional: true,
        success: function (data) {

                var optionstring = "";
                for (var j = 0; j < data.chart_name.length; j++) {
                    optionstring += "<option value=\"" + data["chart_name"][j] + "\" >" + data["chart_name"][j] + "</option>";
                }
                $("#edit-table-name").html(optionstring);




        },
        error: function (msg) {
            optionstring = '<div class="alert alert-dismissable alert-warning navbar-fixed-bottom"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>失败!</h4><strong>获取数据出错!</strong></div>';

            $("#alert").html(optionstring);
        }
    });
};

//获取删除图表下拉选项
function getDelOptions() {
    $.ajax({
        url: "getDelOption",
        type: "post",
        dataType: "json",
        contentType: "application/json",
        traditional: true,
        success: function (data) {

                var optionstring = "";
                for (var j = 0; j < data.chart_name.length; j++) {
                    optionstring += "<option value=\"" + data["chart_name"][j] + "\" >" + data["chart_name"][j] + "</option>";
                }
                $("#input-del-table-name").html(optionstring);




        },
        error: function (msg) {
            optionstring = '<div class="alert alert-dismissable alert-warning navbar-fixed-bottom"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>失败!</h4><strong>获取数据出错!</strong></div>';

            $("#alert").html(optionstring);
        }
    });
};


//获取高级图表下拉选项
function getExtOptions() {
    $.ajax({
        url: "getExtOption",
        type: "post",
        dataType: "json",
        contentType: "application/json",
        traditional: true,
        success: function (data) {

                var optionstring = "";
                for (var j = 0; j < data.chart_name.length; j++) {
                    optionstring += "<option value=\"" + data["chart_name"][j] + "\" >" + data["chart_name"][j] + "</option>";
                }
                $("#ext-table-name").html(optionstring);




        },
        error: function (msg) {
            optionstring = '<div class="alert alert-dismissable alert-warning navbar-fixed-bottom"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4>失败!</h4><strong>获取数据出错!</strong></div>';

            $("#alert").html(optionstring);
        }
    });
};

</script>


{% endblock chart_models_content %}