{% extends 'base_temp.html' %}

{% block chart_models_head %}
{#    <script src="/static/css/bootstrap-table.min.css"></script>#}
{#    <script src="/static/js/bootstrap-table.min.js"></script>#}
{#  <script src="/static/js/bootstrap-table-zh-CN.min.js"></script>#}
{% endblock chart_models_head %}


{% block chart_models_content %}
     <div class="container">
        <h2>数据查看：</h2>
        <h3> <code>{{ chart_obj.name }}</code> </h3>
 <table class="table table-bordered">
        <thead>
            <tr>
                {% for col in desc_data %}
                <th>
                    {{ col }}
                </th>
                {% endfor %}

            </tr>
        </thead>
        <tbody>
        {% for col in table_data %}
            <tr class="success">
                {% for td in col %}
                <td>
                    {{ td }}
                </td>
                {% endfor %}

            </tr>
        {% endfor %}

        </tbody>
    </table>
    </div>



{% endblock chart_models_content %}